.main_content {
  background-size: 100% 100%;
  display: flex;
}

.noteuse_wrapper{
  display: inline-block;
  background: #00AFF9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
}

.noteuse_h1 {
  margin: .8em 3rem;
  font: 4em Roboto;
}

.noteuse_p {
  display: inline-block;
  margin: .2em 3rem;
  font: 2em Roboto;
}

.img_logo {
  height: 100px;
}

.card {
  margin-top : 30px;
  margin-bottom : 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.UNION {
  display: flex;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #2a439b;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.commentStyle {
  font-family: "lato";
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: 18px;
  margin-top: 50px;
  margin-right: 18px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 3px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}

.container_logo {
  margin-left: 0px;
  display: flex;
  align-items: flex-end;
}
